.section-about{
  background-color:  #FFFAF0;
}
  
.about-wrapper{
  display: flex;
  padding-top: 60px;
}
  
.about-image img{
  width: 500px;
  height: 530px;
  padding: 20px;
}
  
.about-text h2{
  padding: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.about-text{
  font-family: 'Srisakdi', cursive;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  
.about-text-bold{
  font-weight: bold;
}


@media (max-width: 768px){
  .about-image img{
    width: 300px;
    height: 350px;
  }

  .about-text h2{
    font-size: 40px;
  }

  .about-text{
    font-size: 15px;
  }

  .about-text-p:not(:first-child),
  .about-text-bold{
    margin-top: -30px;
  }
}

@media(max-width: 520px){
  .about-wrapper{
    flex-direction: column;
    text-align: center;
  }

  [data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transform: none;
  }
}

@media(max-width: 320px){
  .about-image img{
    width: 286px;
    height: 335px;
    padding: 5px;
  }
}


  