
.buyers-sellers-wrapper{
    display: flex;
    padding-top: 20px;
    font-size: 18px;
}

.buying-selling-text{
    color: #96c11f;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

.buying-selling-paragraph{
    padding: 10px;
}

.buying-selling-paragraph-bold{
    font-weight: bold;
    padding-top: 15px;
}

.buying-image img{
    padding-top: 30px;
    height: 550px;
}

.transfer-to-popup{
    width: 219px;
    height: 54px;
    display: inline-block;
    vertical-align: top;
    color: #96c11f;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #96c11f;
    text-decoration: none;
    margin: 30px;
    cursor: pointer;
}

.border-to-selling{
    background-color: black;
    background-size: cover;
    opacity: 0.5;
    color: white;
    text-align: center;
    padding: 30px;
    transition-duration: 3s;
}

.selling-article{
    padding: 20px;
}

.section-selling{
    padding-bottom: 40px;
}

.popup-contact{
    background-color: #DCF0B3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../images/popup-contact.jpg);
    text-align: center;
    overflow: hidden;
}

.form-modal, textarea{
    font-size: 15px;
    width: 100%;
    height:30px;
    background: transparent;
    border: 0;
    margin-bottom: 25px;
    letter-spacing: .7px;
    font-style: italic;
    border-bottom: solid 1px #fff;
    outline: none;
    color: white;
}

.form-modal::placeholder{
    color: #000000;
    font-weight: bold;
    opacity: 1;
}

.ReactModal__Overlay{
    z-index: 100;
}

.ReactModal__Content{
    bottom:135px;
    height:fit-content; 
}

.popup-contact-form-wrapper{
    text-align: left;
    display: block;
}

.popup-top-logo{
    padding-right: 50px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: #fed136;
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
}

.popup-contact-fields,
.popup-message-field{
    width:50%;
}

.popup_button_message{
    height: 30px;
    border: none;
    width: 130px;
    text-transform: uppercase;
    background: white;
    border: 1px solid green;
}

.popup-close-btn{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 22px;
    font-size: 17px;
    background: black;
    opacity: 0.4;
    color: white;
    cursor: pointer;
}

.popup_button_message:hover{
    background-color: yellowgreen;
}

.popup-close-btn:hover{
    opacity: 0.6;
}


@media(max-width: 1024px){
    .buying-selling-text{
        font-size: 63px;
    }

    .buyers-sellers-wrapper{
        font-size: 17px;
    }
}

@media(max-width: 768px){
    .buying-selling-text{
        font-size: 33px;
        padding-top: 35px;
    }

    .buying-image img,
    .buying-image,
    .selling-image,
    .selling-image img{
        height: 450px;
        padding-top: 60px;
    }

    .buying-selling-paragraph{
        font-size: 15px;
    }
}

@media (max-width: 520px){
    .buyers-sellers-wrapper{
        flex-direction: column;
        text-align: center;
    }

    .border-to-selling{
        margin: 56px 0px;
    }

    .buying-image img,
    .selling-image img,
    .buying-image, .selling-image{
        height:400px;
        padding-top: 0;
    }

    .selling-article{
        padding: 5px;
    }

    .popup-top-logo{
        font-size: 33px;
        display: block;
        text-align: center;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .popup-contact-fields, .popup-message-field {
        width: 100%;
    }

    .form-modal::placeholder{
        color: white;
        font-weight: bold;
        opacity: 1;
    }

    .ReactModal__Content .ReactModal__Content--after-open{
       padding: 5px; 
    }

}

@media(max-width: 320px){
    .popup-top-logo{
        padding-bottom: 0;
    }

}


